ROM=/home/cpi/games/DOSBOX
ROM_SO=/home/cpi/apps/emulators/dosbox_libretro.so
EXT=GAMESHELL.BAT
FILETYPE=dir
LAUNCHER=retroarch -L
TITLE=DOS games
SO_URL=http://buildbot.libretro.com/nightly/linux/armhf/latest/dosbox_libretro.so.zip
RETRO_CONFIG=/home/cpi/apps/launcher/Menu/GameShell/20_Retro\ Games/DOSBOX/retroarch.cfg
